/* Critical CSS - Above the fold styles */
/* This should be inlined in the <head> for faster initial render */

/* Reset & Box Sizing */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}

/* Body & Typography */
body{
	background:#fff;
	color:#888;
	font-family:"Lato",sans-serif;
	font-size:16pt;
	font-weight:400;
	line-height:1.75em;
	margin:0;
	padding:0;
}

body.is-preload *,body.is-preload *:before,body.is-preload *:after{
	animation:none!important;
	transition:none!important;
}

/* Headers */
h1,h2,h3,h4,h5,h6{
	color:#777;
	font-weight:700;
	line-height:1em;
	margin:0 0 .5625em 0;
}

h1{font-size:2.5em}
h2{font-size:2em;line-height:1.5em}
h3{font-size:1.75em;line-height:1.5em}

/* Links */
a{
	transition:color .2s ease-in-out,border-color .2s ease-in-out;
	border-bottom:solid 1px #e4e4e4;
	color:inherit;
	text-decoration:none;
}

a:hover{
	border-bottom-color:transparent;
	color:#4acaa8!important;
}

/* Header Section */
#header{
	background:#4acaa8;
	color:#d2f2e9;
	position:fixed;
	top:0;
	left:0;
	width:20em;
	height:100%;
	text-align:right;
	padding:2.5em 2.5em 0 0;
	overflow-y:auto;
}

#header h1{
	color:#fff;
	font-size:1.35em;
	line-height:1.75em;
	margin:0;
}

#header .image.avatar{
	margin:0 0 1em 0;
	width:6.25em;
	height:6.25em;
	border-radius:100%;
	overflow:hidden;
}

#header .image.avatar img{
	border-radius:100%;
	display:block;
	width:100%;
}

/* Navigation */
#nav ul{
	list-style:none;
	margin:0;
	padding:0;
}

#nav li{
	border-top:solid 2px #5ccfb1;
	display:block;
	padding:0;
}

#nav li:first-child{
	border-top:0;
}

#nav a{
	border:0;
	color:rgba(255,255,255,.5);
	display:block;
	padding:.5em 0;
	transition:color .2s ease-in-out;
}

#nav a.active{
	color:#fff;
}

/* Wrapper */
#wrapper{
	background:#fff;
	margin-left:20em;
	min-height:100vh;
}

/* Main */
#main{
	padding:4em 4em 2em 4em;
}

#main>section{
	border-top:solid 2px #f4f4f4;
	margin:4em 0 0 0;
	padding:4em 0 0 0;
}

#main>section:first-child{
	border-top:0;
	margin-top:0;
	padding-top:0;
}

/* Container */
.container{
	margin:0 auto;
	max-width:100%;
	width:56em;
}

/* Image */
.image{
	border:0;
	display:inline-block;
	position:relative;
}

.image img{
	display:block;
	width:100%;
}

.image.avatar{
	border-radius:100%;
	overflow:hidden;
}

/* Icons */
.icons{
	cursor:default;
	list-style:none;
	padding-left:0;
}

.icons li{
	display:inline-block;
	padding:0 .75em 0 0;
}

.icons li:last-child{
	padding-right:0;
}

.icons li a{
	border:0;
	color:inherit;
	display:inline-block;
	font-size:1.25em;
}

/* Mobile - Title Bar */
#titleBar{
	background:#4acaa8;
	color:#fff;
	height:44px;
	left:0;
	line-height:44px;
	position:fixed;
	text-align:center;
	top:0;
	width:100%;
	z-index:10001;
	display:none;
}

#titleBar .title{
	color:#fff;
	display:inline-block;
	font-weight:700;
	line-height:1;
	margin:0;
	vertical-align:middle;
}

#titleBar .toggle{
	height:4em;
	position:absolute;
	right:0;
	top:0;
	width:6em;
}

#titleBar .toggle:before{
	content:"";
	display:block;
	height:44px;
	position:absolute;
	right:0;
	top:0;
	width:44px;
}

/* Responsive - Medium screens */
@media screen and (max-width:1280px){
	#header{
		padding:2em 2em 0 0;
		width:18em;
	}
	#wrapper{
		margin-left:18em;
	}
	#main{
		padding:3em 3em 1em 3em;
	}
}

/* Responsive - Small screens */
@media screen and (max-width:1024px){
	#header{
		padding:1.5em 1.5em 0 0;
		width:16em;
	}
	#wrapper{
		margin-left:16em;
	}
	#main{
		padding:2.5em 2.5em .5em 2.5em;
	}
}

/* Responsive - Mobile */
@media screen and (max-width:736px){
	body{
		font-size:14pt;
	}
	
	#header{
		background:#4acaa8;
		box-shadow:0 .25em .5em 0 rgba(0,0,0,.25);
		height:100%;
		left:0;
		padding:3em 1.5em;
		position:fixed;
		text-align:center;
		top:0;
		transform:translateX(-20em);
		transition:transform .5s ease;
		width:20em;
		z-index:10002;
	}
	
	body.header-visible #header{
		transform:translateX(0);
	}
	
	#titleBar{
		display:block;
	}
	
	#wrapper{
		margin-left:0;
		padding-top:44px;
	}
	
	#main{
		padding:2em 1.5em .5em 1.5em;
	}
}
